
<p class="count-value">
    {{ count$ | async }}
</p>

<!-- allows users to enter a value -->
<div class="user-input">
    <input type="number" name="initial-value" id="initial-value-input" placeholder="Enter an initial value" #inputValue>
    <button (click)="setCounter(inputValue.value)">
        <!-- svg icon -->
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(270)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M20 12L16 8M20 12L16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>    </button>
</div>

<div class="btns">
    <button class="increase" (click)="decrease()">
        -1
    </button>
    
    <button class="reset" (click)="reset()">0</button>
    
    <button class="increase" (click)="increase()">
        +1
    </button>

</div>
